@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

    @if(SignInManager.IsSignedIn(User))
    {
        <ul class="nav-link active" >
            <form method="post" asp-controller="account" asp-action="logout">
                <button type="submit" style="width: auto;"
                    class="btn btn-outline-secondary">
                    Sair @User.Identity.Name
                    </button>
            </form>
        </ul>
    }
    else
    {
        <ul class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="register">
                Registre-se
            </a>
        </ul>
        <ul class="nav-item">
            <a class="nav-link" asp-controller="account" asp-action="login">
                Login
            </a>
        </ul>
    } 