@model projetoBDO.Entities.item.Item


@{
    ViewData["Title"] = "Adicionar Item";
}
<h1>Inclusão de itens</h1>
<div class="container">
    <form asp-action="Create" method="post" >
        <div asp-validation-summary="All" class="text-danger"></div>
        <label for="Nome">Nome Item
            <input type="text" asp-for="Nome" class="form-control" />
        </label>
        <label for="Preco">Preço do Item
            <input type="number" asp-for="Preco" />
        </label>
        
        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
<a asp-controller="Local" asp-action="Index">Voltar</a>

