@model projetoBDO.Entities.item.Item


@{
    ViewData["Title"] = "Adicionar Item";
}
<h1>Inclusão de itens</h1>
    <form asp-action="Create" method="post">
        <!--<div asp-validation-summary="All" class="text-danger"></div>-->
        <div class="row mb-3">
            <span asp-validation-for="Nome" class="text-danger"></span>
            <label class="form-label">Nome Item</label>
                <input type="text" asp-for="Nome" class="form-control" />
        </div>
        <div class="row mb-3">
        <label class="form-label">Preço do Item</label>
            <span asp-validation-for="Nome" class="text-danger"></span>
            <input asp-for="Preco"class="form-control" />
        </div>
        <div class="botao">
            <button type="submit" class="btn btn-primary" style="width: 60%;">Salvar</button>
        </div>
    </form>
<a asp-controller="Spot" asp-action="Index" class="btn btn-secondary">Voltar</a>
