@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model projetoBDO.Models.SpotItemViewModel

@{
	ViewData["Title"] = "Teste";
}


<form asp-action="Teste" method="post">
	<div>
		<label>Spot Nome</label>	
		<select asp-for="SpotId" >
			<option value="">Selecione um Spot</option>
			@foreach (var spot in Model.spots)
			{
				<option value="@spot.Id">@spot.Nome</option>
			}
		</select>
	</div>

	<div class="row mb-3">
		<label class="form-label">Nome Item</label>
		<input type="text" asp-for="item.Nome" class="form-control" />
	</div>
	<div class="row mb-3">
		<label class="form-label">Preço do Item</label>
		<input asp-for="item.Preco" class="form-control" />
	</div>
	<div>
		<button type="submit">Salvar</button>
	</div>
	
</form>

 