@model IEnumerable<projetoBDO.Entities.Item>

@{
    ViewData["Title"] = "Lista de Itens";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary">Adicionar Item</a>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>            
            <th>SpotId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Preco</td>                
                <td>@item.SpotId</td>
            </tr>
        }
    </tbody>
</table>
