@model projetoBDO.Entities.Personagem

@{
    ViewData["Title"] = "Editar personagem";
}

<form asp-controller="Personagem" asp-action="EditPersonagem" method="post">

        <input hidden asp-for="Id"/>
    <div class="row mb-3">
        <label class="form-label">Nome de Familia</label>
        <input type="text" asp-for="NomeDeFamilia" class="form-control" readonly/>
    </div>
        <div class="row mb-3">
            <label class="form-label">Personagem</label>
            <input type="text" asp-for="Nome" class="form-control" />
        </div>
        <div class="row mb-3">
            <label class="form-label">Classe</label>
            <input class="form-control" type="text" asp-for="Classe">
        </div>
        <div class="row mb-3">
            <label class="form-label">PA</label>
            <input class="form-control" type="number" asp-for="PA" />
        </div>
        <div class="row mb-3">
            <label class="form-label">DP</label>
            <input class="form-control" type="number" asp-for="DP" />
        </div>
        <div class="row mb-3">
            <label class="form-label">level</label>
            <input class="form-control" type="number" asp-for="Level"/>
        </div>
        <div class="botao">
            <button type="submit" class="btn btn-primary" style="width: 60%;">Salvar</button>
        </div>
</form>
<a asp-controller="Personagem" asp-action="Index" class="btn btn-secondary">Voltar</a>