@model projetoBDO.Entities.grind.Grind;

@{
    ViewData["Title"] = "Grind";
}

<h1>Jornada</h1>
<form asp-action="Create" method="post">
        <div class="form-group">
            <input asp-for="User" value="@User" hidden/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <label class="form-label">Personagem</label>
            <input class="form-control" asp-for="PersonagemNome" />
          <!--  <input asp-for="Personagem.Nome" type="text"  class="form-control" list="personagens"  placeholder="Qual personagem"> 
            <input asp-for="Personagens" hidden/>
            <span asp-validation-for="Personagem" class="text-danger"></span>
             <datalist  id="personagens">
                foreach(var personagem in //Model.Personagens)
                {
                    <option value="personagem.Nome"></option>
                    <input class="form-control" asp-for="personagem.Classe" hidden />
                    <input class="form-control" asp-for="personagem.Level" hidden />
                    <input class="form-control" asp-for="personagem.DP" hidden />
                    <input class="form-control" asp-for="personagem.PA" hidden />
                    <input class="form-control" asp-for="personagem.User" hidden />
                }                
            </datalist> 
        </div>-->
        <div class="form-group">
            <label  class="form-label">Data</label>
            <input type="date" asp-for="DateTime" class="form-control" placeholder="A data do grind"/>
        </div>
        <div class="form-group">
            @for(int i =0; i < Model.Itens.Count; i++){
                <input class="form-control" asp-for="Itens[i].Id" hidden/>
                <label class="form-label" asp-for="Itens">Item</label>
                <input class="form-control" asp-for="Itens[i].Nome" value="@Model.Itens[i].Nome" readonly />
                
                <label class="form-label" asp-for="Itens">Valor</label>
                <input class="form-control" asp-for="Itens[i].Preco" value="@Model.Itens[i].Preco" readonly />
                <div asp-validation="Quantidades" class="text-danger"></div>
                <label class="form-label">Quantitdade</label>
                <input class="form-control" type="number" asp-for="Itens[i].Quantidade" value="@Model.Itens[i].Quantidade"/>
                <input class="form-control" asp-for="Itens[i].SpotId" hidden/>
                
            }
        </div>
        <div class="botao">
            <button type="submit" style="width: 60%;" class="btn btn-primary">Salvar</button>   
        </div>
</form>
<a asp-controller="Local" asp-action="Index" class="btn btn-secondary">Voltar</a>


