@model GrindViewModel

@{
    ViewData["Title"] = "Adicionar Grind";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        @* <label asp-for="SpotId" class="form-label">Spot</label> *@
        <input asp-for="SpotId" class="form-control" hidden />@* asp-items="@(new SelectList(Model.Spots, "Id", "Nome"))"> *@
    </div>
    <div class="mb-3">
        <label asp-for="SpotNome" class="form-label">Mapa</label>
		<input asp-for="SpotNome" class="form-control" readonly />
    </div>
    <div class="mb-3">
       <label asp-for="PersonagemId" class="form-label">Personagem</label>
        <select asp-for="PersonagemId" class="form-select" asp-items="@(new SelectList(Model.Personagens, "Id", "Nome"))">
            <option value="">Selecione um personagem</option>
		</select>
    </div>
    <div class="mb-3">
        @for (int i = 0; i < Model.Itens.Count; i++)
        {
            <input asp-for="Itens[@i].Nome" class="form-control" />
            <input asp-for="Itens[@i].Preco" class="form-control" />
            <input asp-for="Itens[@i].ImagemUrl" class="form-control" hidden />
            <input asp-for="Quantidade" />
        }
    </div>
   
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

