@model IEnumerable<Grind>

<h2>Lista de grind</h2>

<table>
	<thead>	
		<tr>
			<th>Mapa</th>
			<th>Personagem</th>
			<th>Valor do grind</th>
			
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var grind in Model)
		{
			<tr>
				<td>@grind.Mapa</td>
				<td>@grind.NomePersonagem</td>
				<td>@grind.ValorTotal</td>
				<td><a asp-action="Delete" asp-route-id="@grind.Id" class="btn btn-danger">Deletar</a></td>
			</tr>
		}
	</tbody>
</table>