@model projetoBDO.Entities.Mapa

@{
    ViewData["Title"] = "Editando local de grind";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">    
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome do Mapa</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NivelRecomendado" class="form-label">Nível Recomendado</label>
        <input asp-for="NivelRecomendado" class="form-control" type="number" />
        <span asp-validation-for="NivelRecomendado" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AtaqueRecomendado" class="form-label">Ataque Recomendado</label>
        <input asp-for="AtaqueRecomendado" class="form-control" type="number" />
        <span asp-validation-for="AtaqueRecomendado" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DefesaRecomendada" class="form-label">Defesa Recomendada</label>
        <input asp-for="DefesaRecomendada" class="form-control" type="number" />
        <span asp-validation-for="DefesaRecomendada" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImagemUrl" class="form-label">URL da Imagem</label>
        <input asp-for="ImagemUrl" class="form-control" />
        <span asp-validation-for="ImagemUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" style="width: 60%;">Editar</button>
        <a asp-action="Index2" class="btn btn-secondary">Voltar</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

