@model projetoBDO.Entities.local.Local

@{
    ViewData["Title"] = "Editando local de grind";
}

<form asp-action="Edit" method="post">
    <div class="row mb-3">
        <div>
            <label asp-for="Nome">Nome do Spot</label>
                <input type="text" asp-for="Nome" />
            
        </div>
    </div>

    <button type="submit" class="btn btn-primary" >Editar</button>
    <a asp-action="Index" class="btn btn-outline-primary">Voltar</a>
</form>

